<section *ngIf="response" class="card">
    <div class="card-body">
        <h2><b>Eastern Kentucky University Budget Codes</b></h2>
        <h3>Faculty and staff, enter your information from a secure workspace to add to this budget. We will assign the ID and Code.</h3>
    <form>
        <label>Email</label>
        <input type="text" name="email" placeholder="first.last@eku.edu">
        <label>Fiscal Year</label>
        <input type="text" name="fiscalYear" placeholder="2022"/>
        <label>Budget Title</label>
        <input type="text" name="budgetTitle" placeholder="expense description"/>
        <input type="submit" value="Add Expense"/>
    </form>
    </div>
    <br>
    <table *ngIf="response" class="table table-striped">
        <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Year</th>
                <th scope="col">Code</th>
                <th scope="col">Title</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let code of response?.data; let i = index">
                <td>{{code.budgetCodeId}}</td>
                <td>{{code.fiscalYear}}</td>
                <td>{{code.budgetCode}}</td>
                <td>{{code.budgetTitle}}</td>
            </tr>
        </tbody>
    </table>
</section>
          
        
