<div>
<h3>Faculty and staff, enter your information from a secure workspace to add to this budget. We will assign the ID and Code.</h3>
<form>
    <label>Email</label>
    <input type="text" name="email" placeholder="first.last@eku.edu" ngModel/>
    <label>Fiscal Year</label>
    <input type="text" name="fiscalYear" placeholder="2022" ngModel/>
    <label>Budget Title</label>
    <input type="text" name="budgetTitle" placeholder="expense description" ngModel/>
    <input type="submit" value="Add Expense"/>
</form>
</div>