<header>
    <h2 class="md-display-3">{{title}}</h2>
    </header>
    <div class="container">
    <main>
    <!--returns server side success/fail message-->
    <div class="results">{{result}}</div>
    <!--search bar-->
    <div class="form-group">
        <label>Search</label>
        <div class="input-group">
          <input type="text" id="search" name="search" class="form-control">
        </div>
      </div>

      <br>
    
    <!--table search buttons-->  
    <app-enter-button text="Fetch All Codes" (btnClick)="getBudgetCodes()"></app-enter-button>
    <app-enter-button text="Search by ID" (btnClick)="searchByID()"></app-enter-button>
    <app-enter-button text="Search by Fiscal Year" (btnClick)="searchByYear()"></app-enter-button>
    <app-enter-button text="Search by Budget Code" (btnClick)="searchByCode()"></app-enter-button>

    <!--data table-->  
    <table mat-table [dataSource]="budgetCodes">
        <ng-container matColumnDef="budgetCodeId">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let budget"> {{budget.budgetCodeId}} </td>
          </ng-container>
        
          <ng-container matColumnDef="fiscalYear">
            <th mat-header-cell *matHeaderCellDef> Fiscal Year </th>
            <td mat-cell *matCellDef="let budget"> {{budget.fiscalYear}} </td>
          </ng-container>
        
          <ng-container matColumnDef="budgetCode">
            <th mat-header-cell *matHeaderCellDef> Budget Code </th>
            <td mat-cell *matCellDef="let budget"> {{budget.budgetCode}} </td>
          </ng-container>
          <ng-container matColumnDef="budgetTitle">
            <th mat-header-cell *matHeaderCellDef> Budget Title </th>
            <td mat-cell *matCellDef="let budget"> {{budget.budgetTitle}} </td>
          </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</main>
</div>