<div class="container">
    <main>
        <div class="logoContainer">
            <img src="https://portal.trc.eku.edu/identityServer/TRClogo.png" class="logo" alt="TRC Logo" />
        </div>

        <div class="">
            <h1>PostBudget Component</h1>

            <form class="form-container">
                <h1>Add a new BudgetCode</h1>
            <mat-form-field class="full-width">
                <mat-label>Input</mat-label>
                <input matInput>
              </mat-form-field>
              <br>
              <mat-form-field class="full-width">
                <mat-label>Input</mat-label>
                <input matInput>
              </mat-form-field>
              <br>
              <mat-form-field class="full-width">
                <mat-label>Input</mat-label>
                <input matInput>
              </mat-form-field>
              <br>
              <mat-form-field class="full-width">
                <mat-label>Input</mat-label>
                <input matInput>
              </mat-form-field>
              <br>
           

              <button mat-raised-button color="primary" type="submit">Submit</button>
            </form>
            
        
              
              
              
             

            </div>
            </main>
            </div>
