/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 20;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #4c151e;
    color: white;
}
h1, h2, p, .btn {
    text-align: center;
}
h2, th, td, a {
    color: #4c151e;
}
th, td {
    text-align: right;
}
th {
    font-size: 20px;
}   
td {
    font-size: 16px;
}