/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 20;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #4c151e;
    color: white;
}
h1 {
    text-align: center;
}
h2 {
    color: #4c151e;
    text-align: center;
}
th {
    font-size: 20px;
    color: #4c151e;
}
td {
    font-size: 16px;
    color: #4c151e;
}